<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Jan2018DemoWebsite-20180112054046.mdf;Initial Catalog=aspnet-Jan2018DemoWebsite-20180112054046;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=.; Initial Catalog=eTools; Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="eToolsDB"
       connectionString ="Data Source=.; Initial Catalog =eTools; Integrated Security=true"  
       providerName="System.Data.SqlClient"/>    <!--A dot uses the defaulted SQL server. If created a custom name (Server Name, the second column), the name needs to go here. Initial Catalog is the name of the database-->
</connectionStrings>